# Byte-compiled / optimized / DLL files
__pycache__/
__pycache__/app.cpython-36.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
aws-elastic-beanstalk-cli-setup/

# Virtual Environment
virt/