{% extends "layout.html" %}
<!-- 
    This is the home page for my Snake game.
    Started 7/22/18
    It's going to be a learning experience

    We have a working game of Snake as of 8/23. 
    It moves, takes direction, manages collision with edges, self, and food.
-->

    {% block title %}
        game page
    {% endblock %}
    {% block body %}
    <h1>SNAKE</h1>
    <h3>Eat the food.</h3>
        <canvas class = "myCanvas game-border" width="750" height="500"></canvas>
        <script src="{{ url_for('static', filename='snake.js') }}"></script>
        <div id="this-score">
            SCORE
        </div>
    {% endblock %}
