<!DOCTYPE html>

<html>
    <head>

    </head>

    <body>
        <h1>
            Congratulations!
        </h1>
        <div>
            You (might have) earned a high score
        </div>
        <div>
            <form action="file:///Users/Thomas/Documents/Snake/templates/gamepage.html" enctype="multipart/form-data" method="post">
                <input type="text" name="initials">
                <button type="submit">
                    Submit
                </button>
            </form>
        </div>
    </body>
</html>