{% extends "layout.html" %}

    {% block title %}
        highscores
    {% endblock %}

    {% block scripts %}
        <script type="text/javascript" src="{{ url_for('static', filename='highscores.js') }}"></script>
    {% endblock %}

    {% block body %}
    <h1>
        Congratulations!
    </h1>
    {% if score %}
        <div>
            You (might have) earned a high score
        </div>
        <div> 
            <form action="/recordscore" enctype="multipart/form-data" method="post">
                <p>Your Score: {{ score }} </p>
                <input focus="off" type="hidden" name="score" id="score" value="{{ score }}">
                <input autofocus autocomplete="off" type="text" name="initials" id ="initials" maxlength="3">
                <button type="submit">
                    Submit
                </button>
            </form>
        </div>
    {% endif %}
    <div align="center">
        <table>
            <tr>
                <th>SCORE</th>
                <th>NAME</th>
            </tr>
            {% if data %}
                {% for row in data %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div>
        <form action="/gamepage" method="POST">
            <button type="submit">Play Again Without Saving Score</button>
        </form>
    </div>
{% endblock %}