<!DOCTYPE html>

<html>
    <head>
        <script src="{{ url_for('static', filename='highscores.js') }}"></script>
    </head>

    <body>
        <h1>
            Congratulations!
        </h1>
        <div>
            You (might have) earned a high score
        </div>
        <div>
            <form action="/recordscore" enctype="multipart/form-data" method="post">
                <p>Your Score: {{ data }} </p>
                <input focus="off" type="text" display="hidden" name="score" id="score" value="{{ data }}">
                <input autofocus type="text" name="initials" id ="initials" maxlength="3">
                <button type="submit">
                    Submit
                </button>
            </form>
            <form action="/gamepage" method="POST">
                <button type="submit">Play Again Without Saving Score</button>
            </form>
        </div>
    </body>
</html>